<form
  [formGroup]="form"
  class="flex flex-col md:flex-row mt-2 justify-between md:items-center items-end"
>
  <div class="flex-col md:flex-row">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" name="status">
        @for (option of statusOptions; track option) {
          <mat-option
            [value]="option.status"
            [disabled]="option.status === 'COMPLETE' && isReadyToComplete()"
            >{{ option.label }}</mat-option
          >
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="md:ml-4 w-full">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDate"
        [max]="form.controls.targetDate.value"
        placeholder="Start date"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDate />
      @if (form.controls.startDate.hasError("matDatepickerParse")) {
        <mat-error>Invalid Date format</mat-error>
      } @else if (form.controls.startDate.hasError("matDatepickerMax")) {
        <mat-error>Can't be after Target Date</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="md:ml-4 w-full">
      <mat-label>Target Date</mat-label>
      <input
        matInput
        [min]="form.controls.startDate.value"
        [matDatepicker]="targetDate"
        placeholder="Target date"
        formControlName="targetDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="targetDate" />
      <mat-datepicker #targetDate />
      @if (form.controls.targetDate.hasError("matDatepickerParse")) {
        <mat-error>Invalid Date format</mat-error>
      } @else if (form.controls.targetDate.hasError("matDatepickerMin")) {
        <mat-error>Can't be before Start Date</mat-error>
      }
    </mat-form-field>
  </div>
  @if (!isCompleted()) {
    <button
      mat-raised-button
      [disabled]="form.invalid"
      (click)="form.valid && onSubmit(form.value)"
    >
      Submit
    </button>
  } @else {
    <button mat-raised-button (click)="onReactivate(form.value)">
      Reactivate
    </button>
  }
</form>
