<form [formGroup]="filterForm">
  <mat-form-field appearance="outline" floatLabel="always" class="w-100 mr-8">
    <input
      type="text"
      aria-label="Employee name or department"
      placeholder="Search"
      formControlName="searchText"
      matInput
    />
  </mat-form-field>
  <mat-button-toggle-group
    name="ingredients"
    aria-label="Ingredients"
    formControlName="status"
    multiple
  >
    @for (status of offboardingStatuses; track status.status) {
      <mat-button-toggle [value]="status.status">{{
        status.label
      }}</mat-button-toggle>
    }
  </mat-button-toggle-group>
</form>
