<form
  [formGroup]="filterForm"
  class="flex md:flex-row flex-col items-center md:justify-between md:items-start"
>
  <mat-form-field
    appearance="outline"
    floatLabel="always"
    class="max-w-100 md:mr-8 w-full"
  >
    <input
      type="text"
      aria-label="Employee name or department"
      placeholder="Search"
      formControlName="searchText"
      matInput
    />
  </mat-form-field>
  <mat-button-toggle-group
    name="ingredients"
    aria-label="Ingredients"
    formControlName="status"
    class="w-fit h-full"
    multiple
  >
    @for (status of offboardingStatuses; track status.status) {
      <mat-button-toggle [value]="status.status">{{
        status.label
      }}</mat-button-toggle>
    }
  </mat-button-toggle-group>
</form>
