<form
  [formGroup]="form"
  class="flex md:flex-row flex-col mt-2 justify-between md:items-center items-end mt-8"
>
  <div class="flex">
    <mat-form-field appearance="outline">
      <mat-label>Recieved Date</mat-label>
      <input
        matInput
        [matDatepicker]="jobCertificateDate"
        [max]="maxRecievedDate"
        [min]="minRecievedDate()"
        formControlName="jobCertificateDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="jobCertificateDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #jobCertificateDate />
      @if (form.controls.jobCertificateDate.hasError("matDatepickerParse")) {
        <mat-error>Invalid Date format</mat-error>
      } @else if (
        form.controls.jobCertificateDate.hasError("matDatepickerMax")
      ) {
        <mat-error>Can't be in future</mat-error>
      } @else if (
        form.controls.jobCertificateDate.hasError("matDatepickerMin")
      ) {
        <mat-error>Can't be before Start Date</mat-error>
      }
    </mat-form-field>
    <p class="text-bold text-l flex-col flex-inline items-start ml-4">
      <mat-checkbox formControlName="jobCertificateRecieved">
        Recived
      </mat-checkbox>
    </p>
  </div>
  @if (!isCompleted()) {
    <button
      mat-raised-button
      [disabled]="form.invalid"
      (click)="form.valid && onSubmit(form.value)"
    >
      Submit
    </button>
  }
</form>
